body{
    width: 95%;
}

div{
    border: 1px solid black;
}

input{
    width: 97%;
    height: 95%;
    border: none;
}

.boton{
    padding: 10px;
    height: 60px;
    margin-top: 10px;
    border: 0px;
}

.boton button{
    width: 100px;
    height: 50px;
}

span {
    text-align: center;
    align-items: center;
}

.parent, .parent-1, .parent-2, .parent-3, .parent-4, .parent-5, .parent-6, .parent-7{
    border: 0;
    padding: 10px;
    margin-top: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    height: 300px;
    width: 100%;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 5; }
    .div2 { grid-area: 2 / 1 / 3 / 3; }
    .div3 { grid-area: 2 / 3 / 3 / 5; }
    .div4 { grid-area: 3 / 1 / 4 / 2; }
    .div5 { grid-area: 3 / 2 / 4 / 3; }
    .div6 { grid-area: 3 / 3 / 4 / 4; }
    .div7 { grid-area: 3 / 4 / 4 / 5; }
    .div8 { grid-area: 1 / 10 / 3 / 16; }
    .div9 { grid-area: 1 / 5 / 3 / 10; }
    .div10 { grid-area: 3 / 5 / 4 / 6; }
    .div11 { grid-area: 3 / 6 / 4 / 9; }
    .div12 { grid-area: 3 / 9 / 4 / 10;  }
    .div13 { grid-area: 3 / 10 / 4 / 13; }
    .div14 { grid-area: 3 / 13 / 4 / 14; }
    .div15 { grid-area: 3 / 15 / 4 / 16; }
    .div16 { grid-area: 3 / 14 / 4 / 15; }


.parent-1 {
    display: grid;
    grid-template-columns: repeat(38, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: -180px;
    height: 50px;
}
    
    .div1-1 { grid-area: 1 / 1 / 2 / 2; border: 1px solid black; }
    .div2-1 { grid-area: 1 / 2 / 2 / 3; border: 1px solid black; }
    .div3-1 { grid-area: 1 / 3 / 2 / 6; border: 1px solid black; }
    .div4-1 { grid-area: 1 / 6 / 2 / 7; border: 1px solid black; }
    .div5-1 { grid-area: 1 / 7 / 2 / 8; border: 1px solid black; }
    .div6-1 { grid-area: 1 / 8 / 2 / 9; border: 1px solid black; }
    .div7-1 { grid-area: 1 / 9 / 2 / 10; border: 1px solid black; }
    .div8-1 { grid-area: 1 / 10 / 2 / 11; border: 1px solid black;}
    .div9-1 { grid-area: 1 / 11 / 2 / 12; border: 1px solid black;}
    .div10-1 { grid-area: 1 / 12 / 2 / 13; border: 1px solid black; }
    .div11-1 { grid-area: 1 / 13 / 2 / 14; border: 1px solid black; }
    .div12-1 { grid-area: 1 / 14 / 2 / 15; border: 1px solid black; }
    .div13-1 { grid-area: 1 / 15 / 2 / 16; border: 1px solid black; }
    .div14-1 { grid-area: 1 / 16 / 2 / 17; border: 1px solid black; }
    .div15-1 { grid-area: 1 / 17 / 2 / 18; border: 1px solid black; }
    .div16-1 { grid-area: 1 / 18 / 2 / 19; border: 1px solid black; }
    .div17-1 { grid-area: 1 / 19 / 2 / 20; border: 1px solid black; }
    .div18-1 { grid-area: 1 / 20 / 2 / 21; border: 1px solid black; }
    .div19-1 { grid-area: 1 / 21 / 2 / 26; border: 1px solid black; }
    .div20-1 { grid-area: 1 / 26 / 2 / 27; border: 1px solid black; }
    .div21-1 { grid-area: 1 / 27 / 2 / 28; border: 1px solid black; }
    .div22-1 { grid-area: 1 / 28 / 2 / 29; border: 1px solid black; }
    .div23-1 { grid-area: 1 / 29 / 2 / 30; border: 1px solid black; }
    .div24-1 { grid-area: 1 / 30 / 2 / 31; border: 1px solid black; }
    .div25-1 { grid-area: 1 / 31 / 2 / 32; border: 1px solid black; }
    .div26-1 { grid-area: 1 / 32 / 2 / 33; border: 1px solid black; }
    .div27-1 { grid-area: 1 / 33 / 2 / 34; border: 1px solid black; }
    .div28-1 { grid-area: 1 / 34 / 2 / 35; border: 1px solid black; }
    .div29-1 { grid-area: 1 / 35 / 2 / 36; border: 1px solid black; }
    .div30-1 { grid-area: 1 / 36 / 2 / 37; border: 1px solid black; }
    .div31-1 { grid-area: 1 / 37 / 2 / 38; border: 1px solid black; }
    .div32-1 { grid-area: 1 / 38 / 2 / 39; border: 1px solid black; }

.parent-2 {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    height: 300px;
}

.div1-2 { grid-area: 1 / 1 / 2 / 2; }
.div2-2 { grid-area: 2 / 1 / 3 / 2; }
.div3-2 { grid-area: 3 / 1 / 4 / 2; }
.div4-2 { grid-area: 4 / 1 / 5 / 2; }
.div5-2 { grid-area: 5 / 1 / 6 / 2; }
.div6-2 { grid-area: 6 / 1 / 7 / 2; }
.div7-2 { grid-area: 1 / 2 / 2 / 14; }
.div8-2 { grid-area: 2 / 2 / 3 / 14; }
.div9-2 { grid-area: 3 / 2 / 4 / 14; }
.div10-2 { grid-area: 4 / 2 / 5 / 14; }
.div11-2 { grid-area: 5 / 2 / 6 / 14; }
.div12-2 { grid-area: 6 / 2 / 7 / 14; }
.div13-2 { grid-area: 1 / 14 / 2 / 15; }
.div14-2 { grid-area: 2 / 14 / 3 / 15; }
.div15-2 { grid-area: 3 / 14 / 4 / 15; }
.div16-2 { grid-area: 4 / 14 / 5 / 15; }
.div17-2 { grid-area: 5 / 14 / 6 / 15; }
.div18-2 { grid-area: 6 / 14 / 7 / 15; }
.div19-2 { grid-area: 1 / 15 / 2 / 16; }
.div20-2 { grid-area: 2 / 15 / 3 / 16; }
.div21-2 { grid-area: 3 / 15 / 4 / 16; }
.div22-2 { grid-area: 4 / 15 / 5 / 16; }
.div23-2 { grid-area: 5 / 15 / 6 / 16; }
.div24-2 { grid-area: 6 / 15 / 7 / 16; }
.div25-2 { grid-area: 1 / 16 / 2 / 20; }
.div26-2 { grid-area: 2 / 16 / 3 / 20; }
.div27-2 { grid-area: 3 / 16 / 4 / 20; }
.div28-2 { grid-area: 4 / 16 / 5 / 20; }
.div29-2 { grid-area: 5 / 16 / 6 / 20; }
.div30-2 { grid-area: 6 / 16 / 7 / 20; }
.div31-2 { grid-area: 1 / 20 / 2 / 21; }
.div32-2 { grid-area: 2 / 20 / 3 / 21; }
.div33-2 { grid-area: 3 / 20 / 4 / 21; }
.div34-2 { grid-area: 4 / 20 / 5 / 21; }
.div35-2 { grid-area: 5 / 20 / 6 / 21; }
.div36-2 { grid-area: 6 / 20 / 7 / 21; }

.parent-3 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 50px;
    margin-top: -20px;
    width: 75%;
}

.div1-3 { grid-area: 1 / 1 / 2 / 2; }
.div3-3 { grid-area: 1 / 12 / 2 / 13; }
.div4-3 { grid-area: 1 / 10 / 2 / 12; }
.div5-3 { grid-area: 1 / 9 / 2 / 10; }
.div6-3 { grid-area: 1 / 7 / 2 / 9; }
.div7-3 { grid-area: 1 / 2 / 2 / 7; }

.parent-4 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    width: 100%;
    margin-top: -20px;
    height: 300px;
    }
    
    .div1-4 { grid-area: 1 / 1 / 2 / 2; }
    .div2-4 { grid-area: 2 / 1 / 3 / 2; }
    .div3-4 { grid-area: 3 / 1 / 4 / 2; }
    .div4-4 { grid-area: 4 / 1 / 5 / 2; }
    .div5-4 { grid-area: 5 / 1 / 6 / 2; }
    .div6-4 { grid-area: 6 / 1 / 7 / 2; }
    .div7-4 { grid-area: 7 / 1 / 8 / 2; }
    .div8-4 { grid-area: 8 / 1 / 9 / 2; }
    .div9-4 { grid-area: 1 / 9 / 2 / 10; }
    .div10-4 { grid-area: 2 / 9 / 3 / 10; }
    .div11-4 { grid-area: 3 / 9 / 4 / 10; }
    .div12-4 { grid-area: 4 / 9 / 5 / 10; }
    .div13-4 { grid-area: 5 / 9 / 6 / 10; }
    .div14-4 { grid-area: 6 / 9 / 7 / 10; }
    .div15-4 { grid-area: 7 / 9 / 8 / 10; }
    .div16-4 { grid-area: 8 / 9 / 9 / 10; }
    .div17-4 { grid-area: 1 / 10 / 2 / 11; }
    .div18-4 { grid-area: 2 / 10 / 3 / 11; }
    .div19-4 { grid-area: 3 / 10 / 4 / 11; }
    .div20-4 { grid-area: 4 / 10 / 5 / 11; }
    .div21-4 { grid-area: 5 / 10 / 7 / 11; }
    .div22-4 { grid-area: 6 / 10 / 7 / 11; }
    .div23-4 { grid-area: 7 / 10 / 8 / 11; }
    .div24-4 { grid-area: 8 / 10 / 9 / 11; }
    .div25-4 { grid-area: 1 / 11 / 2 / 15; }
    .div26-4 { grid-area: 2 / 11 / 3 / 15; }
    .div27-4 { grid-area: 3 / 11 / 4 / 15; }
    .div28-4 { grid-area: 4 / 11 / 5 / 15; }
    .div29-4 { grid-area: 5 / 11 / 6 / 15; }
    .div30-4 { grid-area: 6 / 11 / 7 / 15; }
    .div31-4 { grid-area: 7 / 11 / 8 / 15; }
    .div32-4 { grid-area: 8 / 11 / 9 / 15; }
    .div33-4 { grid-area: 1 / 15 / 2 / 16; }
    .div34-4 { grid-area: 2 / 15 / 3 / 16; }
    .div35-4 { grid-area: 3 / 15 / 4 / 16; }
    .div36-4 { grid-area: 4 / 15 / 5 / 16; }
    .div37-4 { grid-area: 5 / 15 / 6 / 16; }
    .div38-4 { grid-area: 6 / 15 / 7 / 16; }
    .div39-4 { grid-area: 7 / 15 / 8 / 16; }
    .div40-4 { grid-area: 8 / 15 / 9 / 16; }
    .div41-4 { grid-area: 1 / 2 / 2 / 9; }
    .div42-4 { grid-area: 2 / 2 / 3 / 9; }
    .div43-4 { grid-area: 3 / 2 / 4 / 9; }
    .div44-4 { grid-area: 4 / 2 / 5 / 9; }
    .div45-4 { grid-area: 5 / 2 / 6 / 9; }
    .div46-4 { grid-area: 6 / 2 / 7 / 9; }
    .div47-4 { grid-area: 7 / 2 / 8 / 9; }
    .div48-4 { grid-area: 8 / 2 / 9 / 9; }

.parent-5{
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 1.8fr repeat(2, 0.5fr) 1.5fr repeat(2, 0.5fr) 1.5fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    margin-top: -20px;
    width: 100%;
    grid-row-gap: 0px;
    
}

    .div1-5 { grid-area: 1 / 1 / 2 / 2; }
    .div2-5 { grid-area: 2 / 1 / 3 / 2; }
    .div3-5 { grid-area: 3 / 1 / 4 / 2; }
    .div4-5 { grid-area: 1 / 2 / 2 / 3; }
    .div5-5 { grid-area: 2 / 2 / 3 / 3; }
    .div6-5 { grid-area: 3 / 2 / 4 / 3; }
    .div7-5 { grid-area: 1 / 3 / 4 / 4; }
    .div8-5 { grid-area: 1 / 4 / 2 / 5; }
    .div9-5 { grid-area: 2 / 4 / 3 / 5; }
    .div10-5 { grid-area: 3 / 4 / 4 / 5; }
    .div11-5 { grid-area: 1 / 5 / 2 / 6; }
    .div12-5 { grid-area: 2 / 5 / 3 / 6; }
    .div13-5 { grid-area: 3 / 5 / 4 / 6; }
    .div14-5 { grid-area: 1 / 6 / 2 / 7; }
    .div15-5 { grid-area: 2 / 6 / 3 / 7; }
    .div16-5 { grid-area: 3 / 6 / 4 / 7; }
    .div17-5 { grid-area: 1 / 7 / 2 / 8; }
    .div18-5 { grid-area: 2 / 7 / 3 / 8; }
    .div19-5 { grid-area: 3 / 7 / 4 / 8; }
    .div20-5 { grid-area: 1 / 8 / 2 / 9; }
    .div21-5 { grid-area: 2 / 8 / 3 / 9; }
    .div22-5 { grid-area: 3 / 8 / 4 / 9; }
    .div23-5 { grid-area: 1 / 9 / 2 / 10; }
    .div24-5 { grid-area: 2 / 9 / 3 / 10; }
    .div25-5 { grid-area: 3 / 9 / 4 / 10; }
    .div26-5 { grid-area: 1 / 10 / 2 / 11; }
    .div27-5 { grid-area: 2 / 10 / 3 / 11; }
    .div28-5 { grid-area: 3 / 10 / 4 / 11; }
    .div29-5 { grid-area: 1 / 11 / 2 / 12; }
    .div30-5 { grid-area: 2 / 11 / 3 / 12; }
    .div31-5 { grid-area: 3 / 11 / 4 / 12; }

    .parent-6 {
        display: grid;
        grid-template-columns: 0.5fr 6fr repeat(2, 0.5fr) 3fr 0.5fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: -20px;
        width: 100%;
        height: 250px;
        }
        
        .div1-6 { grid-area: 1 / 1 / 2 / 2; }
        .div2-6 { grid-area: 2 / 1 / 3 / 2; }
        .div3-6 { grid-area: 3 / 1 / 4 / 2; }
        .div4-6 { grid-area: 4 / 1 / 5 / 2; }
        .div5-6 { grid-area: 5 / 1 / 6 / 2; }
        .div6-6 { grid-area: 6 / 1 / 7 / 2; }
        .div7-6 { grid-area: 1 / 2 / 2 / 3; }
        .div8-6 { grid-area: 2 / 2 / 3 / 3; }
        .div9-6 { grid-area: 3 / 2 / 4 / 3; }
        .div10-6 { grid-area: 4 / 2 / 5 / 3; }
        .div11-6 { grid-area: 5 / 2 / 6 / 3; }
        .div12-6 { grid-area: 6 / 2 / 7 / 3; }
        .div13-6 { grid-area: 1 / 3 / 2 / 4; }
        .div14-6 { grid-area: 2 / 3 / 3 / 4; }
        .div15-6 { grid-area: 3 / 3 / 4 / 4; }
        .div16-6 { grid-area: 4 / 3 / 5 / 4; }
        .div17-6 { grid-area: 5 / 3 / 6 / 4; }
        .div18-6 { grid-area: 6 / 3 / 7 / 4; }
        .div19-6 { grid-area: 1 / 4 / 2 / 5; }
        .div20-6 { grid-area: 2 / 4 / 3 / 5; }
        .div21-6 { grid-area: 3 / 4 / 4 / 5; }
        .div22-6 { grid-area: 4 / 4 / 5 / 5; }
        .div23-6 { grid-area: 5 / 4 / 6 / 5; }
        .div24-6 { grid-area: 6 / 4 / 7 / 5; }
        .div25-6 { grid-area: 1 / 5 / 2 / 6; }
        .div26-6 { grid-area: 2 / 5 / 3 / 6; }
        .div27-6 { grid-area: 3 / 5 / 4 / 6; }
        .div28-6 { grid-area: 4 / 5 / 5 / 6; }
        .div29-6 { grid-area: 5 / 5 / 6 / 6; }
        .div30-6 { grid-area: 6 / 5 / 7 / 6; }
        .div31-6 { grid-area: 1 / 6 / 2 / 7; }
        .div32-6 { grid-area: 2 / 6 / 3 / 7; }
        .div33-6 { grid-area: 3 / 6 / 4 / 7; }
        .div34-6 { grid-area: 4 / 6 / 5 / 7; }
        .div35-6 { grid-area: 5 / 6 / 6 / 7; }
        .div36-6 { grid-area: 6 / 6 / 7 / 7; }

        .parent-7 {
            display: grid;
            grid-template-columns: 0.5fr 6.5fr repeat(2, 0.5fr) 3fr 1fr;
            grid-template-rows: repeat(7, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-top: -20px;
            width: 100%;
            height: 260px;
            }
            
            .div1-7 { grid-area: 1 / 1 / 2 / 2; }
            .div2-7 { grid-area: 2 / 1 / 3 / 2; }
            .div3-7 { grid-area: 3 / 1 / 4 / 2; }
            .div4-7 { grid-area: 4 / 1 / 5 / 2; }
            .div5-7 { grid-area: 5 / 1 / 6 / 2; }
            .div6-7 { grid-area: 6 / 1 / 7 / 2; }
            .div7-7 { grid-area: 7 / 1 / 8 / 2; }
            .div8-7 { grid-area: 1 / 2 / 2 / 3; }
            .div9-7 { grid-area: 2 / 2 / 3 / 3; }
            .div10-7 { grid-area: 3 / 2 / 4 / 3; }
            .div11-7 { grid-area: 4 / 2 / 5 / 3; }
            .div12-7 { grid-area: 5 / 2 / 6 / 3; }
            .div13-7 { grid-area: 6 / 2 / 7 / 3; }
            .div14-7 { grid-area: 7 / 2 / 8 / 3; }
            .div15-7 { grid-area: 1 / 3 / 2 / 4; }
            .div16-7 { grid-area: 2 / 3 / 3 / 4; }
            .div17-7 { grid-area: 3 / 3 / 4 / 4; }
            .div18-7 { grid-area: 4 / 3 / 5 / 4; }
            .div19-7 { grid-area: 5 / 3 / 6 / 4; }
            .div20-7 { grid-area: 6 / 3 / 7 / 4; }
            .div21-7 { grid-area: 7 / 3 / 8 / 4; }
            .div22-7 { grid-area: 1 / 4 / 2 / 5; }
            .div23-7 { grid-area: 2 / 4 / 3 / 5; }
            .div24-7 { grid-area: 3 / 4 / 4 / 5; }
            .div25-7 { grid-area: 4 / 4 / 5 / 5; }
            .div26-7 { grid-area: 5 / 4 / 6 / 5; }
            .div27-7 { grid-area: 6 / 4 / 7 / 5; }
            .div28-7 { grid-area: 7 / 4 / 8 / 5; }
            .div29-7 { grid-area: 1 / 5 / 2 / 6; }
            .div30-7 { grid-area: 2 / 5 / 3 / 6; }
            .div31-7 { grid-area: 3 / 5 / 4 / 6; }
            .div32-7 { grid-area: 4 / 5 / 5 / 6; }
            .div33-7 { grid-area: 5 / 5 / 6 / 6; }
            .div34-7 { grid-area: 6 / 5 / 7 / 6; }
            .div35-7 { grid-area: 7 / 5 / 8 / 6; }
            .div36-7 { grid-area: 1 / 6 / 2 / 7; }
            .div37-7 { grid-area: 2 / 6 / 3 / 7; }
            .div38-7 { grid-area: 3 / 6 / 4 / 7; }
            .div39-7 { grid-area: 4 / 6 / 5 / 7; }
            .div40-7 { grid-area: 5 / 6 / 6 / 7; }
            .div41-7 { grid-area: 6 / 6 / 7 / 7; }
            .div42-7 { grid-area: 7 / 6 / 8 / 7; }

            .parent-8 {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                height: 160px;
                }
                
                .div1 { grid-area: 1 / 1 / 2 / 2; }

            strong {
                font-size: 30px;
            }

            span.ocho {
                font-size: 20px;
            }